<p>Unfortunately, we currently do not have a cookie/analytics-free version of our site. As per GDPR, we are unable to
    offer you
    our tools unless you consent to these.</p>
<p>We rely on Firebase to provide our services. To see their GPDR compliance, please visit: <a
        href="https://firebase.google.com/support/privacy#firebase_support_for_gdpr_and_ccpa">Firebase support for
        GDPR</a></p>
<div gdColumns="1fr auto">
    <div></div>
    <button mat-flat-button class="primary" (click)="consentToCookies()">I consent</button>
</div>