.root {
    height: 100vh;
    display: flex;
    flex-direction: column;

    app-header {
        position: fixed;
        top: 0;
        width: 100%;
        backdrop-filter: blur(10px);
        z-index: 5;
    }
    
    .main-container {
        overflow: auto;
        padding-top: 85px;
        flex: 1;
        display: flex;
        flex-direction: column;
        
        .router-container {
            flex: 1;
            padding: 20px 220px;
            overflow: auto;
        }
    }

    @media only screen and (max-width: 1200px) {
        .router-container {
            padding: 0 100px !important;
        }
    }
    
    @media only screen and (max-width: 700px) {
        .router-container {
            padding: 0 20px !important;
        }

        .main-container {
            padding-top: 60px;
        }
    }
    
    app-footer {
        position: relative;
        bottom: 0;
    }
}