<div gdRows="auto auto">
    <p>
        We use cookies and other tracking technologies to improve your browsing experience on our website, to show you
        personalized content and targeted ads, to analyze our website traffic, and to understand where our visitors are
        coming from.
    </p>
    <div gdColumns="auto 1fr auto">
        <button mat-flat-button (click)="rejectCookies()">Leave</button>
        <div></div>
        <button mat-flat-button class="primary" (click)="consentToCookies()">I consent</button>
    </div>
</div>