@use '../../../styling/colors.scss';

.content-container {
    margin: auto;
}

.positive-change {
    font-weight: bold;
    color: colors.$positive;
}

.negative-change {
    color: colors.$negative;
}