@use '../../../styling/colors.scss';

.content-container {
    margin: auto;
}

.positive-change {
    font-weight: bold;
    color: colors.$positive;
}

.negative-change {
    color: colors.$negative;
}

mat-form-field {
    width: 160px;
    margin: 0;

    .mat-form-field-wrapper {
        margin: 0;
        padding: 0;
    }
}

.button.action {
    height: 20px;
    width: 20px;
    margin-top: 5px;
    transform: rotate(90deg);
    margin-right: 12px;
}

.desktop-action {
    cursor: pointer;
    height: 20px;
    width: 20px;

    &.discussion {
        margin-top: 5px;
    }

    &:not(:last-child) {
        margin-right: 14px;
    }
}

.header-icon {
    width: 20px;
    height: 20px;
}

.actions-ticker-title {
    text-align: center;
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
    margin-bottom: 10px;
}