<div class="route-header" gdColumns="auto 1fr auto" gdGap="0 1rem">
    <mat-icon class="button" svgIcon="arrow-left" (click)="goBack()"></mat-icon>
    <div class="route-title" style="padding-bottom: 4px;">
        <span class="ellipsis">{{ currentPlatformTitle }}</span>
    </div>
</div>

<div class="content-container">
    <mat-tab-group mat-stretch-tabs [selectedIndex]="mainTabIndex" (selectedTabChange)="onMainTabChange($event)">
        <mat-tab label="Daily Data">
            <div class="daily-data-toolbar" gdColumns="1fr auto" style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">
                <div gdColumns="auto 1fr">
                    <div>
                        <mat-icon class="button" svgIcon="date-clear" (click)="picker.open()" matTooltip="Change Date">
                        </mat-icon>
                        <mat-form-field class="hide">
                            <input matInput [formControl]="selectedDate" [matDatepicker]="picker"
                                [matDatepickerFilter]="dateFilter">
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <span class="date">{{ selectedDate.value }}</span>
                </div>
                <div style="position: relative;" gdColumns="auto auto auto">
                    <div>
                        <mat-icon class="button" style="margin-left: 8px;" svgIcon="export"
                            [matMenuTriggerFor]="exportMenu" matTooltip="Export">
                        </mat-icon>
                        <mat-menu #exportMenu="matMenu" class="export-menu">
                            <div style="display: flex; flex-direction: column;">
                                <button class="primary"
                                    (click)="exporter.exportTable('xlsx', { fileName: 'Stock Sentiment: ' + currentPlatformTitle })">.xlsx</button>
                                <button class="primary"
                                    (click)="exporter.exportTable('csv', { fileName: 'Stock Sentiment: ' + currentPlatformTitle })">.csv</button>
                            </div>
                        </mat-menu>
                    </div>

                    <mat-icon class="button" style="margin-left: 8px;" svgIcon="search" [matMenuTriggerFor]="filterMenu"
                        matTooltip="Search">
                    </mat-icon>
                    <!-- <div bsDisplayIfLoggedIn style="margin-left: 12px">
                            <mat-icon style="margin-top: 2px" *ngIf="isFavorite" class="button" svgIcon="liked"
                                (click)="toggleFavorite()"></mat-icon>
                            <mat-icon style="margin-top: 2px" *ngIf="!isFavorite" class="button" svgIcon="like"
                                (click)="toggleFavorite()"></mat-icon>
                        </div> -->
                    <mat-menu #filterMenu="matMenu" class="filter-menu">
                        <div gdRows="1fr auto" class="filter-menu-content" (click)="$event.stopPropagation()">
                            <div [formGroup]="filterForm">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Search</mat-label>
                                    <input matInput formControlName="filter">
                                </mat-form-field>
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Minimum mentions</mat-label>
                                    <input matInput type="number" formControlName="minimumMentions">
                                </mat-form-field>
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Minimum change</mat-label>
                                    <input matInput type="number" formControlName="minimumChange">
                                </mat-form-field>
                            </div>
                            <div gdColumns="auto 1fr auto" style="margin-top: 12px;">
                                <button (click)="resetFilter()">Reset</button>
                                <div></div>
                                <button class="primary" (click)="filter()">Filter</button>
                            </div>
                        </div>
                    </mat-menu>
                </div>
            </div>

            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)" matTableExporter
                #exporter="matTableExporter">
                <ng-container matColumnDef="ticker">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticker </th>
                    <td mat-cell *matCellDef="let element"> {{ element.ticker }} </td>
                </ng-container>

                <ng-container matColumnDef="openingPrice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span *ngIf="!deviceIsMobile; else mobileDevicePosts"> Opening Price </span>
                        <ng-template #mobileDevicePosts> Open </ng-template>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element.openingPrice ? (element.openingPrice |
                        shortenDecimal) :
                        'N/A' }} </td>
                </ng-container>

                <ng-container matColumnDef="closingPrice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span *ngIf="!deviceIsMobile; else mobileDevicePosts"> Closing Price </span>
                        <ng-template #mobileDevicePosts> Close </ng-template>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element.closingPrice ? (element.closingPrice |
                        shortenDecimal) :
                        'N/A' }} </td>
                </ng-container>

                <ng-container matColumnDef="dailyChange">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span *ngIf="!deviceIsMobile; else mobileDevicePosts"> Change </span>
                        <ng-template #mobileDevicePosts>
                            <mat-icon class="header-icon" svgIcon="difference"></mat-icon>
                        </ng-template>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span [ngClass]="element.openingPrice - element.closingPrice < 0 ?
                                    'positive-change' : 'negative-change'">
                            {{ (element.closingPrice - element.openingPrice) /
                            element.openingPrice * 100 | number: '1.2-2' }}{{ element.closingPrice ? '%' : '' }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="numOfPosts">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 40px;">
                        <span *ngIf="!deviceIsMobile; else mobileDevicePosts"> Posts </span>
                        <ng-template #mobileDevicePosts>
                            <mat-icon class="header-icon" svgIcon="post"></mat-icon>
                        </ng-template>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element.numOfPosts }} </td>
                </ng-container>

                <ng-container matColumnDef="numOfMentions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 70px;">
                        <span *ngIf="!deviceIsMobile; else mobileDevicePosts"> Mentions </span>
                        <ng-template #mobileDevicePosts>
                            <mat-icon class="header-icon" svgIcon="mention"></mat-icon>
                        </ng-template>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element.numOfMentions }} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef style="width: 70px;"> </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="deviceIsMobile; else desktopActions">
                            <mat-icon class="button action" svgIcon="more" [matMenuTriggerFor]="actions"></mat-icon>
                            <mat-menu #actions="matMenu">
                                <div class="actions-ticker-title"> {{ element.ticker }} </div>
                                <button mat-menu-item (click)="seeDiscussions(element)">
                                    <mat-icon svgIcon="chat"></mat-icon>
                                    <span>Discussions</span>
                                </button>
                                <button mat-menu-item (click)="openStockInYahoo(element)">
                                    <mat-icon svgIcon="logo-yahoo"></mat-icon>
                                    <span>See in Yahoo</span>
                                </button>
                            </mat-menu>
                        </div>
                        <ng-template #desktopActions>
                            <mat-icon class="desktop-action discussion" svgIcon="chat" (click)="seeDiscussions(element)"
                                matTooltip="Discussions">
                            </mat-icon>
                            <mat-icon class="desktop-action" svgIcon="logo-yahoo" (click)="openStockInYahoo(element)"
                                matTooltip="See in Yahoo">
                            </mat-icon>
                        </ng-template>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-progress-bar style="margin: 20px 0" mode="buffer" *ngIf="loadingDailyData"></mat-progress-bar>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Analysis</ng-template>
            <mat-tab-group mat-stretch-tabs class="thin-tabs" [selectedIndex]="analysisTabIndex">
                <mat-tab label="Correlation">
                    <ng-template mat-tab-label>
                        <mat-icon svgIcon="correlation"></mat-icon>
                        Correlation
                    </ng-template>
                    <mat-progress-bar style="margin: 20px 0" mode="buffer" *ngIf="loadingCorrelation">
                    </mat-progress-bar>

                    <div gdColumns.gt-sm="repeat(2, 1fr)" gdColumns.lt-md="repeat(1, 1fr)" gdGap="2rem"
                        style="padding: 1rem;">
                        <div>
                            <h4 class="subtitle">AMD</h4>
                            <chart [type]="type" [data]="data" [options]="options"></chart>
                        </div>
                        <div>
                            <h4 class="subtitle">AMD</h4>
                            <chart [type]="type" [data]="data" [options]="options"></chart>
                        </div>
                        <div>
                            <h4 class="subtitle">AMD</h4>
                            <chart [type]="type" [data]="data" [options]="options"></chart>
                        </div>
                        <div>
                            <h4 class="subtitle">AMD</h4>
                            <chart [type]="type" [data]="data" [options]="options"></chart>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon svgIcon="breakouts"></mat-icon>
                        Breakouts
                    </ng-template>
                    <mat-progress-bar style="margin: 20px 0" mode="buffer" *ngIf="loadingCorrelation">
                    </mat-progress-bar>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon svgIcon="like"></mat-icon>
                        Deep Dive
                    </ng-template>
                    <mat-progress-bar style="margin: 20px 0" mode="buffer" *ngIf="loadingCorrelation">
                    </mat-progress-bar>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>
    </mat-tab-group>
</div>