.content-container {
    margin: auto;
}

.positive-change {
    font-weight: bold;
    color: var(--color-positive);
}

.negative-change {
    color: var(--color-negative);
}

mat-form-field {
    width: 160px;
    margin: 0;

    .mat-form-field-wrapper {
        margin: 0;
        padding: 0;
    }
}

.button.action {
    height: 20px;
    width: 20px;
    margin-top: 5px;
    transform: rotate(90deg);
    margin-right: 12px;
}

.desktop-action {
    cursor: pointer;
    height: 20px;
    width: 20px;

    &.discussion {
        margin-top: 5px;
    }

    &:not(:last-child) {
        margin-right: 14px;
    }
}

.actions-cell {
    text-align: right;

    .desktop-action:last-of-type {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .actions-cell {
        width: 30px;
    }
}

.posts-header {
    width: 90px;
    max-width: 90px;
}

.mentions-header {
    width: 70px;
    max-width: 70px;
}

@media only screen and (max-width: 600px) {
    .posts-header {
        width: 30px;
        max-width: 30px;
    }

    .mentions-header {
        width: 40px;
        max-width: 40px;
    }
}


.header-icon {
    width: 20px;
    height: 20px;
}

.actions-ticker-title {
    text-align: center;
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.daily-data-toolbar {
    padding: 6px 16px 2px 22px;
    background: var(--color-toolbar);
    border-bottom: 1px solid var(--color-row-border);

    .date {
        font-size: 16px;
        margin-left: 12px;
        padding-top: 1px;
    }
}