[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datetime = "*"
praw = "*"
python-dotenv = "*"
yahooquery = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
