mat-form-field {
    width: 160px;
    margin: 0;

    .mat-form-field-wrapper {
        margin: 0;
        padding: 0;
    }
}

.icon {
    width: 24px;
}

#capture {
    max-width: 650px;
    padding: 20px;

    .platform-title {
        padding: 10px 0 0 24px;
        font-weight: bold;
        color: #FF5700;
    }
    
    .highlighted {
        border: solid 2px black;
    }
}
