<div class="header-container">
    <h1 class="site-title" [routerLink]="'/'">
        Invest Track
    </h1>
    <mat-icon mat-icon-button [matMenuTriggerFor]="menu" class="account-button" svgIcon="account"></mat-icon>
</div>

<mat-menu #menu="matMenu" class="account-menu">
    <button mat-menu-item bsDisplayIfLoggedIn (click)="openFavorites()">
        <mat-icon svgIcon="like"></mat-icon>
        <span>Favorites</span>
    </button>
    <!-- <button mat-menu-item bsDisplayIfLoggedIn (click)="openSettings()">
        <mat-icon svgIcon="settings"></mat-icon>
        <span>Settings</span>
    </button> -->
    <button mat-menu-item bsDisplayIfNotLoggedIn (click)="openLogin()">
        <mat-icon svgIcon="enter" style="transform: rotate(180deg);"></mat-icon>
        <span>Log in</span>
    </button>
    <button mat-menu-item bsDisplayIfLoggedIn (click)="logout()">
        <mat-icon svgIcon="exit"></mat-icon>
        <span>Log out</span>
    </button>
</mat-menu>