.header-container {
    padding: 0 100px;
    display: flex;

    .title-container {
        display: flex;
        
        .logo-ss {
            height: 54px;
            width: 54px;
            align-self: center;
            margin-top: 4px;
            margin-right: 8px;
        }
    
        .site-title {
            cursor: pointer;
            font-weight: 300;
        }
    }

    .account-button {
        margin: auto;
        cursor: pointer;
    }
}

.mat-menu-item {
    &:hover {
        mat-icon {
            transform: scale(var(--icon-hover-scale));
            transition: transform var(--anim-duration);
        }
    }
}

@media only screen and (max-width: 700px) {
    .header-container {
        padding: 0 20px;
    }

    .site-title {
        margin: 10px 0;
        font-size: 24px;
    }

}
