$container-padding: 20px;
$container-border-radius: 36px;

$input-height: 48px;
$input-padding: 14px 20px 14px 20px;

$icon-large: 60px;
$icon-medium: 40px;
$icon-small: 20px;

$anim-duration: 400ms;
$anim-type: ease-out;