@use './styling/fonts.scss';
@use './styling/colors.scss';
@use './styling/measurements.scss';
@use './styling/animations.scss';
@use "sass:map";

@include fonts.fonts;
@include animations.routerAnimations;

* {
    font-family: 'Open Sans';
    font-weight: 300;

    &:focus {
        outline: none;
    }
}

body {
    background: colors.$background;
    color: colors.$font;
    height: 100%;

    .main-container {
        margin: 0 200px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        .main-container {
            margin: 0;
        }
    }
}

.platform-container {
    width: fit-content; 
    margin: auto;

    .platform-card {
        height: 90px;
        width: 90px;
        padding: measurements.$container-padding;
    
        border: colors.$border;
        box-shadow: colors.$container-shadow;
        border-radius: measurements.$container-border-radius;
        cursor: pointer;
        justify-items: right;
        transition: all measurements.$anim-duration measurements.$anim-type;

        mat-icon.platform-icon {
            &.small {
                height: measurements.$icon-small;
                width: measurements.$icon-small;
            }

            &.medium {
                height: measurements.$icon-medium;
                width: measurements.$icon-medium;
            }

            &.large {
                height: measurements.$icon-large;
                width: measurements.$icon-large;
            }
        }

        &:hover {
            box-shadow: colors.$container-shadow-highlight;

            mat-icon {
                transition: transform measurements.$anim-duration measurements.$anim-type;
                transform: scale(1.05)
            }
        }
    
        @each $platform, $color in colors.$platforms {
            &.#{$platform} {
                mat-icon {
                    align-self: flex-end;
                    color: map.get(colors.$platforms, $platform);
                }

                .platform-title {
                    background: -webkit-linear-gradient(map.get(colors.$platforms, $platform), darken(map.get(colors.$platforms, $platform), 20));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 500;
                }

                &:hover {
                    filter: saturate(1.75);
                }
            }
        }
    }
}

.content-container {
    border: colors.$border;
    box-shadow: colors.$container-shadow;
    border-radius: measurements.$container-border-radius;
    overflow: hidden;
}

button {
    background: colors.$background;
    height: measurements.$input-height;
    border: colors.$border;
    padding: measurements.$input-padding;
    box-shadow: colors.$button-shadow;
    border-radius: 24px;
    cursor: pointer;

    &:active, &:focus {
        outline: none;
    }
}

table {
    width: 100%;
    border: none;

    thead {
        border: none;
        
        tr.mat-header-row {
            font-weight: 500;
            height: 44px;
        }
    }

    tr.mat-row {
        border: none;
        height: 42px;
    }
}