<!-- <h2 mat-dialog-title>
    Favorites
</h2>

<div mat-dialog-content>

    <div gdColumns.gt-xs="repeat(3, auto)" gdColumns.lt-sm="repeat(2, auto)" gdGap="2rem" class="platform-container">
        <div *ngFor="let favorite of favorites" [class]="'platform-card ' + platform.platform" gdRows="1fr auto"
            gdGap="0.5rem" [routerLink]="['/analysis', platform.route]">
            <mat-icon class="platform-icon large" [svgIcon]="platform.icon"></mat-icon>
            <div class="platform-title"> {{ platform.name }} </div>
        </div>
    </div>
</div>

<div mat-dialog-actions gdColumns="1fr auto">
    <div></div>
    <button mat-dialog-close>Close</button>
</div> -->