<div class="intro-text">
    Investment is gud. Invest money. Here's data. Much good. None of this is actual advice man idk. Do your own
    research.
    <br>
    <a href="https://www.paypal.com/donate?hosted_button_id=NWSB5GAPEJ8FY">
        Find this useful? Consider fueling our rockets 💎🖐🚀🌝 mf we like tendies too
    </a>
</div>

<div gdColumns.gt-xs="repeat(3, auto)" gdColumns.lt-sm="repeat(2, auto)" gdGap="2rem" class="platform-container">
    <div *ngFor="let platform of platforms" [class]="'platform-card ' + platform.platform" gdRows="1fr auto"
        gdGap="0.5rem" [routerLink]="['/analysis', platform.route]">
        <mat-icon class="platform-icon large" [svgIcon]="platform.icon"></mat-icon>
        <div class="platform-title"> {{ platform.displayName || platform.name }} </div>
    </div>
</div>