<div class="intro-text">
    Investment is gud. Invest money. Here's data. Much good. None of this is actual advice man idk. Do your own
    research.
    <br>
    <a href="https://www.paypal.com/donate?hosted_button_id=NWSB5GAPEJ8FY">
        Find this useful? Consider fueling our rockets 💎🖐🚀🌝 we like tendies too
    </a>
</div>

<div class="platform-container">
    <div *ngFor="let platformCategory of allPlatforms" [class]="platformCategory.source">
        <!-- <div class="platform-category-title"> {{ platformCategory.category }} </div> -->
        <div gdColumns.gt-xs="repeat(3, auto)" gdColumns.lt-sm="repeat(2, auto)" gdGap="2rem">
            <div *ngFor="let platform of platformCategory.platforms" class="platform-card" gdRows="1fr auto"
                gdGap="0.5rem" [routerLink]="['/analysis', platform.route]">
                <mat-icon class="platform-icon large" [svgIcon]="platformCategory.icon"></mat-icon>
                <div class="platform-title"> {{ platform.displayName || platform.name }} </div>
            </div>
        </div>
    </div>
</div>