<div class="intro-text">
    <p>
        Stock Sentiment tracks various platforms to find out the most discussed stocks and cryptos online.
    </p>
    <a href="https://www.paypal.com/donate?hosted_button_id=NWSB5GAPEJ8FY">
        Find this useful? Consider fueling our rockets 💎🖐🚀🌝 we like tendies too
    </a>
</div>

<div class="platform-container" gdColumns.gt-sm="repeat(2, auto)" gdColumns.lt-md="repeat(1, auto)" gdGap="2rem">
    <div *ngFor="let platformCategory of allPlatforms" [class]="'platform-category ' + platformCategory.source">
        <div gdColumns="auto 1fr">
            <!-- <mat-icon class="platform-icon large" [svgIcon]="platformCategory.icon"></mat-icon> -->
            <div class="platform-category-title"> {{ platformCategory.category }} </div>
        </div>
        <div gdColumns.gt-xs="repeat(2, auto)" gdColumns.lt-sm="repeat(1, auto)" gdGap="1rem">
            <div *ngFor="let platform of platformCategory.platforms" class="platform-card"
                [routerLink]="['app/analysis', platform.route]">
                <div class="platform-title"> {{ platform.displayName || platform.name }} </div>
            </div>
        </div>
    </div>
</div>