<div class="intro-text">
    Investment is gud. Invest money. Here's data. Much good. None of this is actual advice man idk. Do your own
    research.
</div>

<div gdColumns.gt-xs="repeat(3, auto)" gdColumns.lt-sm="repeat(2, auto)" gdGap="1rem" class="platform-container">
    <div *ngFor="let option of options" [class]="'platform-card ' + option.platform" gdRows="1fr auto" gdGap="0.5rem"
        [routerLink]="['/analysis', option.route]">
        <mat-icon class="platform-icon large" [svgIcon]="option.icon"></mat-icon>
        <div class="platform-title"> {{ option.name }} </div>
    </div>
    <div *ngFor="let option of options" [class]="'platform-card ' + option.platform" gdRows="1fr auto" gdGap="0.5rem"
        [routerLink]="['/analysis', option.route]">
        <mat-icon class="platform-icon large" [svgIcon]="option.icon"></mat-icon>
        <div class="platform-title"> {{ option.name }} </div>
    </div>
</div>